:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--neutral-color);
  background-color: var(--dark-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
}
html {
  overflow-y: scroll;
  overflow-y: overlay;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

*::-webkit-scrollbar-track-piece {
  background-color: #1e2224;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary-light-color);
  border-radius: 1rem;
}

*::-webkit-scrollbar-corner {
  background-color: #1e2224;
}

a {
  color: var(--highlight-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--highlight-light-color);
}

h1 {
  text-align: center;
}

textarea,
input,
button {
  font-family: inherit;
  color: var(--neutral-color);
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
}

input,
button,
textarea {
  padding: 0.6rem 1.2rem;
  transition: border-color 0.25s;
}

input,
textarea {
  outline: none;
}

button:focus-visible,
a:focus-visible {
  outline-offset: 0;
  outline: 0.125rem solid var(--highlight-color);
}

button {
  cursor: pointer;
  background-color: transparent;
}

input,
textarea {
  background-color: var(--secondary-color);
}

.app-toast {
  z-index: 5999 !important;
}

.app-toast > div {
  min-height: 0.75rem;
  padding: 0.75rem 1.5rem;
}
